name: Deploy dependencies (LOCAL)

on:
  workflow_dispatch:

concurrency: deploy_deps_loc

env:
  INFRA_TEMPLATE_PATH: '**/functions/local-dependencies.bicep'
  INFRA_PARAMETERS_PATH: '**/.github/infrastructure/deploy-app.local.json'
  INFRA_RG_NAME: 'mil-emails-local-rg'
  INFRA_RG_LOCATION: 'westeurope'
  TEMPLATES_VERSION: v5

jobs:
  deploy_infra:
    name: Deploy infrastructure
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 # For parameters file
        with:
          path: emails
      - name: Deploy infrastructure
        uses: amilochau/github-actions/deploy/infrastructure@v1
        with:
          azureTemplateVersion: ${{ env.TEMPLATES_VERSION }}
          azureCredentials: ${{ secrets.AZURE_CREDENTIALS }}
          resourceGroupName: ${{ env.INFRA_RG_NAME }}
          resourceGroupLocation: ${{ env.INFRA_RG_LOCATION }}
          templateFilePath: ${{ env.INFRA_TEMPLATE_PATH }}
          parametersFilePath: ${{ env.INFRA_PARAMETERS_PATH }}
