name: Deploy application (DEV)

on:
  workflow_dispatch:

concurrency: deploy_app_dev

env:
  PROJECTS_BUILD: './src/Milochau.Emails.App.sln'
  PROJECTS_PUBLISH: './src/Milochau.Emails'
  INFRA_TEMPLATE_PATH: '**/functions/template.bicep'
  INFRA_PARAMETERS_PATH: '**/.github/infrastructure/deploy-app.dev.json'
  INFRA_RG_NAME: 'mil-emails-dev-rg'
  INFRA_RG_LOCATION: 'westeurope'
  INFRA_APP_NAME: 'mil-emails-dev-fn'
  INFRA_HEALTH: 'https://mil-emails-dev-fn.azurewebsites.net/api/health/light'
  DOTNET_VERSION: 5.0.x
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  deploy_infra:
    name: Deploy infrastructure
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 # For parameters file
        with:
          path: emails
      - uses: actions/checkout@v2 # For template file
        with:
          repository: amilochau/azure-templates
          ref: v3
          path: templates
          token: ${{ secrets.PAT }}
      - name: Login on Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy infrastructure to Azure
        uses: Azure/cli@1.0.4
        with:
          inlineScript: |
            az group create --name ${{ env.INFRA_RG_NAME }} --location ${{ env.INFRA_RG_LOCATION }}
            az deployment group create --resource-group ${{ env.INFRA_RG_NAME }} --template-file ${{ env.INFRA_TEMPLATE_PATH }} --parameters ${{ env.INFRA_PARAMETERS_PATH }}
  
  deploy_app:
    name: Deploy application
    needs: deploy_infra
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x' # See https://github.com/Azure/azure-functions-dotnet-worker/wiki/Known-issues#net-core-31-dependency
      
      - name: Build projects
        shell: bash
        run: dotnet build ${{ env.PROJECTS_BUILD }} --configuration Release
        
      - name: Login on Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Download and install Azure Functions Core Tools v3
        shell: bash
        run: |
          wget -q https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
          sudo dpkg -i packages-microsoft-prod.deb
          sudo apt-get update
          sudo apt-get install azure-functions-core-tools-3
      - name: Deploy Azure Functions application
        shell: bash
        run: func azure functionapp publish ${{ env.INFRA_APP_NAME }}
        working-directory: ${{ env.PROJECTS_PUBLISH }}

      - name: Check health
        shell: pwsh
        run: Invoke-WebRequest ${{ env.INFRA_HEALTH }} -TimeoutSec 120 -MaximumRetryCount 12 -RetryIntervalSec 10
